@import 'tailwindcss';
@import '@fontsource/fira-mono';

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

:root {
	--color-theme-1: #ff3e00;
	--color-theme-2: #4075a6;
    font-family: sans-serif;
}

/* List elements */
li {
    @apply mx-8;
}

h1 {
    @apply text-4xl mb-2;
}

/* Via: https://flowbite.com/docs/components/buttons/ */
.blue-button {
    @apply text-white bg-blue-500 hover:bg-blue-800 shadow-xs rounded-full text-sm px-4 py-2.5 cursor-pointer;
}
.red-button {
    @apply text-white bg-red-500 hover:bg-red-800 shadow-xs rounded-full text-sm px-4 py-2.5 cursor-pointer;
}
.green-button {
    @apply text-white bg-green-500 hover:bg-green-800 shadow-xs rounded-full text-sm px-4 py-2.5 cursor-pointer;
}

a {
    @apply text-blue-500 hover:text-blue-800 italic underline focus:cursor-pointer;
}